.jimu-widget-sefilterEditor .flDropDown {
  height: 30px !important;
  width: 100%;
  margin-top: 2px;
  margin-bottom: 10px; }

.jimu-widget-sefilterEditor .searchtextbox {
  height: 30px !important;
  width: 100%;
  padding: 5px;
  margin-bottom: 5px; }

.processing-indicator-panel {
  display: none;
  width: 100%;
  height: 100%;
  z-index: 500;
  top: 0;
  left: 0;
  position: absolute;
  background-position: center center;
  background-image: url(../images/busy.gif);
  background-repeat: no-repeat; }
  .processing-indicator-panel .panel {
    display: block; }

.jimu-widget-smartEditor-ecan {
  position: relative;
  /***********about templatePicker**************/
  /********about attributeInspector*********/
  /*********about preset values table*********/ }
  .jimu-widget-smartEditor-ecan .hideField {
    display: none; }
  .jimu-widget-smartEditor-ecan .templatePicker {
    position: relative;
    height: 296px; }
  .jimu-widget-smartEditor-ecan .grid {
    height: 100% !important; }
  .jimu-widget-smartEditor-ecan .dojoxGridMasterHeader {
    height: 0 !important; }
  .jimu-widget-smartEditor-ecan .dojoxGridContent {
    width: 100% !important; }
  .jimu-widget-smartEditor-ecan .dojoxGridContent div[role=presentation] {
    right: 0; }
  .jimu-widget-smartEditor-ecan .dojoxGridRowTable {
    width: 100%; }
  .jimu-widget-smartEditor-ecan .dojoxGridRow {
    width: 100%; }
  .jimu-widget-smartEditor-ecan .dojoxGridView {
    width: 100% !important; }
  .jimu-widget-smartEditor-ecan .esriAttributeInspector {
    height: 100%;
    width: 100%; }
    .jimu-widget-smartEditor-ecan .esriAttributeInspector td {
      display: block;
      clear: both;
      height: auto;
      width: 100%;
      float: left; }
    .jimu-widget-smartEditor-ecan .esriAttributeInspector .atiNavButtons {
      position: absolute;
      left: 50%;
      margin-left: -90px;
      top: -10px; }
    .jimu-widget-smartEditor-ecan .esriAttributeInspector .asteriskIndicator {
      color: red !important; }
    .jimu-widget-smartEditor-ecan .esriAttributeInspector .saveButton {
      float: right;
      display: inline; }
      .jimu-widget-smartEditor-ecan .esriAttributeInspector .saveButton .jimu-rtl {
        float: left;
        display: inline; }
    .jimu-widget-smartEditor-ecan .esriAttributeInspector .deleteButton {
      float: right;
      margin-right: 20px; }
      .jimu-widget-smartEditor-ecan .esriAttributeInspector .deleteButton .jimu-rtl {
        float: left;
        display: inline; }
    .jimu-widget-smartEditor-ecan .esriAttributeInspector .atiField {
      width: 100%; }
    .jimu-widget-smartEditor-ecan .esriAttributeInspector .dijitTextBox {
      width: 100% !important; }
    .jimu-widget-smartEditor-ecan .esriAttributeInspector .dijitTextArea {
      width: 100% !important;
      min-height: 70px;
      resize: vertical;
      overflow: auto;
      font-family: inherit;
      line-height: 20px !important;
      font-size: 14px; }
  .jimu-widget-smartEditor-ecan .ee-presetValueTableDiv {
    height: 100%;
    width: 100%; }
  .jimu-widget-smartEditor-ecan .ee-presetValueHeaderTable {
    color: #000000;
    font-size: 14px;
    padding: 8px;
    background-color: #E3E3E3;
    vertical-align: middle;
    width: 100%; }
  .jimu-widget-smartEditor-ecan .ee-presetValueBodyTable td {
    display: block;
    clear: both;
    height: auto;
    width: 100%;
    float: left; }
  .jimu-widget-smartEditor-ecan .ee-atiLabel {
    width: 100%;
    margin-bottom: 3px; }
  .jimu-widget-smartEditor-ecan .atiLabel {
    width: 100%;
    margin-top: 6px !important;
    margin-bottom: 3px !important; }
  .jimu-widget-smartEditor-ecan .ee-presetValueBody {
    vertical-align: top; }
  .jimu-widget-smartEditor-ecan .ee-presetValueBodyTable {
    width: 100%; }
  .jimu-widget-smartEditor-ecan .ee-presetValue-label-header-field,
  .jimu-widget-smartEditor-ecan .field-alias-label {
    width: 40%; }
  .jimu-widget-smartEditor-ecan .ee-presetValue-value-header-field,
  .jimu-widget-smartEditor-ecan .preset-value-editable {
    width: 100%;
    margin-bottom: 6px; }
  .jimu-widget-smartEditor-ecan .ee-inputField {
    width: 100%; }
  .jimu-widget-smartEditor-ecan .ee-inputFieldTextArea {
    width: 100% !important;
    resize: vertical;
    overflow: auto;
    font-family: inherit;
    line-height: 20px !important;
    font-size: 14px;
    min-height: 70px; }
  .jimu-widget-smartEditor-ecan .ee-inputFieldRichText {
    width: 100% !important;
    margin: 5px auto; }
  .jimu-widget-smartEditor-ecan .spacer {
    height: 12px; }
  .jimu-widget-smartEditor-ecan .spacerSmall {
    height: 8px; }
  .jimu-widget-smartEditor-ecan .attributeInspectorDiv {
    padding-top: 8px; }
  .jimu-widget-smartEditor-ecan div.atiAttributes table {
    width: 98%; }
  .jimu-widget-smartEditor-ecan .processing-indicator {
    display: none;
    float: right;
    width: 40px;
    height: 40px;
    background-position: center center;
    background-image: url(../images/busy.gif);
    background-repeat: no-repeat;
    z-index: 999; }
    .jimu-widget-smartEditor-ecan .processing-indicator.busy {
      display: inline; }
  .jimu-widget-smartEditor-ecan .processing-indicator-panel {
    display: none;
    width: 100%;
    height: 100%;
    z-index: 500;
    top: 0;
    left: 0;
    position: absolute;
    background-position: center center;
    background-image: url(../images/busy.gif);
    background-repeat: no-repeat; }
    .jimu-widget-smartEditor-ecan .processing-indicator-panel.busy {
      display: block; }
  .jimu-widget-smartEditor-ecan .updateOnlyText {
    vertical-align: middle;
    padding: 10px; }
  .jimu-widget-smartEditor-ecan .attInput {
    padding-top: 3px;
    padding-bottom: 3px;
    display: inline-block; }
  .jimu-widget-smartEditor-ecan .deleteAttachment {
    padding-right: 5px;
    cursor: pointer;
    color: red !important;
    font-weight: bold; }
  .jimu-widget-smartEditor-ecan .atiNavMessage {
    display: inline-block;
    float: none; }
  .jimu-widget-smartEditor-ecan .dijitButtonHover .dijitButtonNode {
    background-color: transparent !important;
    background-image: none !important;
    border: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important; }
  .jimu-widget-smartEditor-ecan .dijitButton {
    background-color: transparent !important;
    background-image: none !important;
    border: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important; }
    .jimu-widget-smartEditor-ecan .dijitButton .dijitButtonNode {
      background-color: transparent !important;
      background-image: none !important;
      border: none !important;
      -webkit-box-shadow: none !important;
      -moz-box-shadow: none !important;
      box-shadow: none !important; }
  .jimu-widget-smartEditor-ecan .dijitComboBox > div.dijitArrowButton.dijitDownArrowButton {
    width: 25px !important; }
  .jimu-widget-smartEditor-ecan .dijitTextBox .dijitInputField {
    height: 100% !important; }
  .jimu-widget-smartEditor-ecan .dijitComboBox > div.dijitArrowButton.dijitDownArrowButton > input {
    width: 100%; }
  .jimu-widget-smartEditor-ecan .attwarning {
    margin-top: 2px;
    color: brown; }
  .jimu-widget-smartEditor-ecan .presetFieldsTableDiv {
    display: none; }
  .jimu-widget-smartEditor-ecan .linksBarDiv {
    height: 30px !important; }
  .jimu-widget-smartEditor-ecan .links-bar {
    text-align: right; }
    .jimu-widget-smartEditor-ecan .links-bar a {
      display: inline-block;
      font-size: 11px;
      text-transform: uppercase;
      padding: 5px;
      margin-right: 5px;
      color: #196fa6;
      text-decoration: none;
      line-height: 20px;
      padding: 0px 5px 5px 5px; }

.widgetIndicator {
  height: 4px;
  position: absolute;
  top: 0;
  z-index: 1;
  width: 100%;
  overflow: hidden;
  overflow-x: hidden;
  /*width: 94%;
        border-radius: 3px;
        padding-left: 3px;
        padding-right: 3px;
        margin-left: 3%;
        margin-right: 3%;*/ }

.widgetActive {
  background: #73AD21; }

.widgetNotActive {
  background: red; }

/*.jimu-widget-smartEditor .widgetActive {
        width: 22px;
        height: 22px;
        background-position: center center;
        background-image: url(../images/widgetActive.png);
        background-repeat: no-repeat;
        position: absolute;
        left: 1px;
        top: 1px;
    }

    .jimu-widget-smartEditor .widgetNotActive {
        width: 22px;
        height: 22px;
        background-position: center center;
        background-image: url(../images/widgetNotActive.png);
        background-repeat: no-repeat;
        position: absolute;
        left: 1px;
        top: 1px;
    }*/
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

.clearfix {
  display: inline-block; }

* html .clearfix {
  height: 1%; }

/* Hides from IE-mac \*/
.clearfix {
  display: block; }

.clear:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden; }

/*tr td {
      padding: 20px 40px;
      border: 1px solid black;
      display: block;
    }*/
.dijitCalendarDateTemplate.dijitCalendarCurrentDate .dijitCalendarDateLabel {
  color: red;
  border-color: red; }

/* hover */
.dijitCalendarDateTemplate.dijitCalendarHoveredDate .dijitCalendarDateLabel,
.dijitCalendarDateTemplate.dijitCalendarEnabledDate:hover .dijitCalendarDateLabel {
  background-color: greenyellow; }

/* active 

.dijitCalendarDateTemplate.dijitCalendarActiveDate .dijitCalendarDateLabel,
.dijitCalendarDateTemplate.dijitCalendarEnabledDate:active .dijitCalendarDateLabel {
    background-color: darkslategray;
}
*/
/* selected */
.dijitCalendarDateTemplate.dijitCalendarSelectedDate .dijitCalendarDateLabel,
.dijitCalendarDateTemplate.dijitCalendarSelectedDate.dijitCalendarHoveredDate .dijitCalendarDateLabel {
  background-color: cyan; }

/*# sourceMappingURL=style.css.map */