<div>
	<nav>
		<ul class="pagination">
			<li class="pagination-navigate-backward disabled" data-dojo-attach-event="click:pageFirstClick">
				<a href="#">First</a>
			</li>
			<li class="pagination-navigate-backward disabled" data-dojo-attach-event="click:pageBackClick">
				<a href="#" aria-label="Previous">Previous</a>
			</li>
			<li class="pagination-show-previous hidden" data-dojo-attach-event="click:pageBlockBackClick">
				<a href="#">...</a>
			</li>
			<li class="pagination-show-next" data-dojo-attach-event="click:pageBlockNextClick">
				<a>...</a>
			</li>
			<!-- Additional li will be added here -->
			<li class="pagination-navigate-forward" data-dojo-attach-event="click:pageNextClick">
				<a href="#" aria-label="Next">Next</a>
			</li>
			<li class="pagination-navigate-forward" data-dojo-attach-event="click:pageLastClick">
				<a href="#">Last</a>
			</li>
		  </ul>
	</nav>
</div>